<body id="m-body">
    <div id="m-img1"><img id="green" src="./public/css/pictures/green.png" alt=""><img id="white" src="./public/css/pictures/white.png" alt=""><img id="blue" src="./public/css/pictures/water.png" alt=""><img id="black" src="./public/css/pictures/black.png" alt=""><img id="red" src="./public/css/pictures/red.png" alt=""></div>
    <div class="text"> <h1 id="welcome">Welcome</h1>
    <p id="m-p">to [insert cool title here]</p></div>
    <div><button class="m-button" id="signupBT">Sign Up</button><button class="m-button" id="loginBT">Log In</button><button class="m-button" id="searchBT">Search</button></div>
    <script src="./public/js/main.js"></script>
</body>