<body id="m-body">
<div id="m-img1">
    <a href="https://mtg.fandom.com/wiki/Green"><img id="green" src="/css/pictures/green.png" alt="forest"></a>
    <a href="https://mtg.fandom.com/wiki/White"><img id="white" src="/css/pictures/white.png" alt="planeswalker"></a>
    <a href="https://mtg.fandom.com/wiki/Blue"><img id="blue" src="/css/pictures/water.png" alt="island"></a>
    <a href="https://mtg.fandom.com/wiki/Black"><img id="black" src="/css/pictures/black.png" alt="swamp"></a>
    <a href="https://mtg.fandom.com/wiki/Red"><img id="red" src="/css/pictures/red.png" alt="mountain"></a> 
</div>
<div class="text"> 
    <h1 id="welcome">Welcome</h1>
    <p id="m-p">MTG Collector's Hub</p></div>
<nav>
    {{#if logged_in}}
    <button class="m-button" > <a id="logout">Logout</a></button>
     {{else}}
    <button class="m-button" id="signupBT"><a href="/signup">Sign-Up</a></button>
    <button class="m-button" id="loginBT"><a href="/login">Log In</a></button>
    {{/if}}
    <button class="m-button" id="search"><a href="/searchengine">Search</a></button>
</nav>

    <script src="/js/logout.js"></script>
</body>