<body id="m-body">
<div id="m-img1">
    <img id="green" src="/css/pictures/green.png" alt="">
    <img id="white" src="/css/pictures/white.png" alt="">
    <img id="blue" src="/css/pictures/water.png" alt="">
    <img id="black" src="/css/pictures/black.png" alt="">
    <img id="red" src="/css/pictures/red.png" alt="">
</div>
<div class="text"> 
    <h1 id="welcome">Welcome</h1>
    <p id="m-p">MTG Collector's Hub</p></div>
<nav>
    {{#if logged_in}}
    <button class="m-button"> <a class="m-button" href="/logout" id="logout">Logout</a></button>
    <button class="m-button"><a class="m-button"href="/collection">My Collection</a></button>
     {{else}}
    <button class="m-button" id="signupBT"><a class="m-button" href="/signup">Sign-Up</a></button>
    <button class="m-button" id="loginBT"><a class="m-button" href="/login">Log In</a></button>
    {{/if}}
    <button class="m-button" id="search"><a class="m-button" href="/searchengine">Search</a></button>
</nav>

    
</body>