<body id="Sbody">
    <header id="sheader"> <img src="./public/css/pictures/manas.png" alt="">
    </header>
    <section>
        <h1 class="sh1">Magic the Gathering Card Search</h1>
        <form>
            <input type="text" placeholder="Card Name"> <input type="text" placeholder="Converted Mana Cost"> <input type="text" placeholder="Artist Name"> <br>
            <label for="type">type:</label>
            <select name="type" id="type">
                <option value=""></option>
            </select>
            <label for="subtype">subtype</label>
            <select name="subtype" id="subtype">
                <option value=""></option>
            </select>
            <label for="rarity">Rarity</label>
            <select name="rarity" id="rarity">
                <option value=""></option>
            </select><br>
            <button id="submit" class="button is-primary is-rounded is-hovered">Search Cards</button>
        </form>
        </select>
    </section>
    <section id="cards">
    </section>
    <script src="/js/search.js"></script>
</body>