<body id="Sbody">
    <header id="sheader"> <img src="./public/css/pictures/manas.png" alt="">
    </header>
    <section>
        <h1 class="sh1">Magic the Gathering Card Search</h1>
        <form>
            <h1>Search By:</h1>
            <input id="cardName" type="text" placeholder="Card Name"><br>
            <input id="cmc" type="text" placeholder="Converted Mana Cost"><br>
            <label for="color">Color:</label>
            <select name="color" id="color">
                <option value="">Any</option>
                <option value="W">White</option>
                <option value="U">Blue</option>
                <option value="B">Black</option>
                <option value="R">Red</option>
                <option value="G">Green</option>
            </select><br>
            <input id="type" type="type" placeholder="Type"><br>
            <input id="subtype" type="subtype" placeholder="Subtype"><br>
            <input id="rarity" type="rarity" placeholder="Rarity"><br>
            <input id="set" type="set" placeholder="Set"><br>
            <input id="artist" type="artist" placeholder="Artist"><br>
            <button id="submit" class="button is-primary is-rounded is-hovered">Search Cards</button>
        </form>
        </select>
    </section>
    <section id="cards">
    </section>
    <script src="/js/search.js"></script>

      {{#if logged_in}}
    <a href="/logout" id="logout">Logout</a>
  {{else}}
    <a href="/login">Login</a>
    <a href="/signup">Sign up</a>
  {{/if}}

</body>