
body{
    background-image: url(planeswalkersm1.png), linear-gradient(90deg, rgb(255, 255, 255) 0% , rgb(22, 22, 22) 55%);
   padding: auto;
    text-align: center;
}
#welcome{
    display: flex;
    justify-content: center;
    position: static;
    color: antiquewhite;
    margin-top: 100px;
    margin-bottom: 0px;
    font-family: 'IM Fell Great Primer SC';
    font-size: 150px;
    }
p{
    color: aliceblue;
    margin-top: 0px;
    font-family: 'Montserrat Subrayada';
    
}
.text{
    text-align: center;
}
button{
    color: rgb(38, 152, 46);
    background-color: whitesmoke;
    border: none;
    padding: 2px 10px 2px 10px;
    margin-right: 10px;
    border-radius: 20px;
}
button:hover{
    background-color: rgb(62, 255, 75);
    color: whitesmoke;
}
#blue{
    margin-top: 43px;
    height: 100px;
}
#blue:hover{
    transition: .3s;

   box-shadow: 0px 0px 50px cyan;
   border-radius: 100px;
   background-color: aqua;
}
#white{
    margin-top: 100px;
    padding-bottom: 0px;
    height: 100px;

}
#white:hover{
    transition: .3s;
    
   box-shadow: 0px 0px 50px rgb(255, 251, 221);
   border-radius: 100px;
   background-color: rgb(255, 243, 138);
   padding-bottom: 0px;
}
#black{
    margin-top: 100px;
    height: 100px;
}
#black:hover{
    transition: .3s;
   box-shadow: 0px 0px 50px rgb(204, 111, 255);
   border-radius: 100px;
   background-color: rgb(152, 70, 211);
}
#green{
    margin-top: 170px;
    height: 100px;
}
#green:hover{
    transition: .3s;
   box-shadow: 0px 0px 50px rgb(82, 241, 101);
   border-radius: 100px;
   background-color: rgb(2, 212, 16);
}
#red{
    margin-top: 170px;
    height: 100px;
}
#red:hover{
    transition: .3s;
   box-shadow: 0px 0px 50px rgb(255, 77, 77);
   border-radius: 100px;
   background-color: rgb(255, 0, 0);
}
#img1{
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
}