/* all colors are mostly placeholders. I (alaina) will continut to work on styling but I wanted
something for everyone else to work with */

body{
    background-color: black;
}
h1{
    margin-top: 18%;
    padding-top: 40px;
    text-align: center;
    color: aliceblue;
}
.lbar{
    padding: 5px 180px 5px 0px;
}
input{
    background-color: rgb(149, 163, 189);
    border-radius: 20px;
    text-indent: 15px;
    border-color: aqua;
    padding: 5px 0px;
    margin-top: 2px;
    margin-bottom: 5px;
}
#card{
    background-color: rgb(56, 54, 54);
    border-radius: 10px;
    box-shadow: 0px 0px 50px cyan;
    margin-left: 25%;
    margin-right: 25%;
}
form{
    padding: 10px 40px 40px 170px;
    border-radius: 10px;
    color: aliceblue;
    font-size: 20px;
}
p{
    margin-top: 3px;
    font-size: 15px;
}
label{
    text-indent: 5px;
}
button{
    background-color: rgb(157, 203, 203);
    border-color: cyan;
}
button:hover{
    background-color: deepskyblue;
    border-color: dodgerblue;
}