
.s-u-form{
    padding: 10px 40px 40px 35%;
    border-radius: 10px;
    color: aliceblue;
    font-size: 20px;}

/* css for the search page */
#Sbody {
    background-color: #4F4F4F;
}


#sheader {
    background-image: url("/css/pictures/manas.png");
    background-repeat: no-repeat;
    background-position: top center;
    padding: 260px 0px 80px 0px;
    border-radius: 0px 0px 50px 50px;
    margin-bottom: 10px;
    background-size: contain;
    background-size: cover;
}


#Sh3 {
    color: white;
    font-size: 27px;
}


.sli {
    padding-left: 10px;
    display: inline;
    list-style: none;
    color: #188a20;
    font-size: 20px;
}


.sh1 {
    color: #188a20;
    stroke: black .5px;
    text-align: center;
    font-size: 75px;
    font-family: 'Foldit', cursive;
    font-family: 'Handjet', cursive;
    font-family: 'MedievalSharp', cursive;
}


/* user input */
form {
    background-color: black;
    margin-top: 10px;
    padding: 54px;
    border-radius: 50px;
    width: 92%;
    color: aliceblue;
    
}


/* search bar */
#sinput{
    margin: 0px 0px 10px 0px;
}


/* options in drop down */
#select{
    margin: 0px 0px 10px 0px;
}


/* submit button */
#submit{
    margin: 10px 0px 10px 0px;
}


/* indivudual divs for each card */
#cards{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


/* each individual card */
#cards img {
    border-radius: 25px;
    width: 325px;
    height: 500px;
    padding: 5px 5px 5px 5px;
    background-color: black;
    color: white;
}


/* divs created for each card */
#cards div{
    background-color: #188a20;
    border: black 2px solid;
    color: white;
    border-radius: 25px;
    margin: 10px;
}


/* artist and set name of card */
#sdiv div p{
    margin-left: 20px;
}


/* enlarges card when hovered over */
.hover div p{
    margin-left: 15px;
}
.hover:hover {
    transform: scale(1.2);
    border: greenyellow 3px solid;
}


@media screen and (min-width: 768px) {


}


/* tablet view */
@media screen and (max-width: 768px) {
    #sheader {
        padding: 150px 0px 25px 0px;
    }
    #sh1 {
    color: #252be6;
    font-size: 60px;
  }
  #cards div{
      background-color: #252be6;
      border: black 2px solid;
      color: white;
      border-radius: 25px;
      margin: 10px;
  }
}
/* smartphone view */
@media screen and (max-width: 480px) {
    #sheader {
        padding: 100px 0px 15px 0px;
    }
    #sh1 {
      color: red;    
      padding: 20px 0px 20px 0px;
      font-size: 40px;
    }
    .hover:hover {
        transform: scale(1.1);
    }
    #cards div{
        background-color: #e51616;
        border: black 2px solid;
        color: white;
        border-radius: 25px;
        margin: 10px;
    }
  }


  /* mainpage css */
#m-body{
    background-image: url(planeswalkersm1.png), linear-gradient(90deg, rgb(255, 255, 255) 0% , rgb(22, 22, 22) 55%);
   padding: auto;
    text-align: center;
}
#welcome{
    display: flex;
    justify-content: center;
    position: static;
    color: antiquewhite;
    margin-top: 100px;
    margin-bottom: 0px;
    font-family: 'IM Fell Great Primer SC';
    font-size: 150px;
    }
#m-p{
    color: aliceblue;
    margin-top: 0px;
    font-family: 'Montserrat Subrayada';
   
}
.text{
    text-align: center;
}
.m-button{
    color: rgb(38, 152, 46);
    background-color: whitesmoke;
    border: none;
    padding: 2px 10px 2px 10px;
    margin-right: 10px;
    border-radius: 20px;
}
.m-button:hover{
    background-color: rgb(62, 255, 75);
    color: whitesmoke;
}
#blue{
    margin-top: 43px;
    height: 100px;
}
#blue:hover{
    transition: .3s;


   box-shadow: 0px 0px 50px cyan;
   border-radius: 100px;
   background-color: aqua;
}
#white{
    margin-top: 100px;
    padding-bottom: 0px;
    height: 100px;


}
#white:hover{
    transition: .3s;
   
   box-shadow: 0px 0px 50px rgb(255, 251, 221);
   border-radius: 100px;
   background-color: rgb(255, 243, 138);
   padding-bottom: 0px;
}
#black{
    margin-top: 100px;
    height: 100px;
}
#black:hover{
    transition: .3s;
   box-shadow: 0px 0px 50px rgb(204, 111, 255);
   border-radius: 100px;
   background-color: rgb(152, 70, 211);
}
#green{
    margin-top: 170px;
    height: 100px;
}
#green:hover{
    transition: .3s;
   box-shadow: 0px 0px 50px rgb(82, 241, 101);
   border-radius: 100px;
   background-color: rgb(2, 212, 16);
}
#red{
    margin-top: 170px;
    height: 100px;
}
#red:hover{
    transition: .3s;
   box-shadow: 0px 0px 50px rgb(255, 77, 77);
   border-radius: 100px;
   background-color: rgb(255, 0, 0);
}
#m-img1{
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
}




/* css for sign-up  */
.s-u-body{
    background-color: black;
}
h1{
    text-align: center;
    color: aliceblue;
}
.lbar{
    padding: 5px 180px 5px 0px;
}
input{
    background-color: rgb(149, 163, 189);
    border-radius: 20px;
    text-indent: 15px;
    border-color: aqua;
    padding: 5px 0px;
    margin-top: 2px;
    margin-bottom: 5px;
}
.s-u-card{
    background-color: rgb(56, 54, 54);
    border-radius: 10px;
    box-shadow: 0px 0px 50px cyan;
}
.s-u-form{
    padding: 10px 40px 40px 35%;
    border-radius: 10px;
    color: aliceblue;
    font-size: 20px;
}
#s-u-p{
    margin-top: 3px;
    font-size: 15px;
}
label{
    text-indent: 5px;
}
#s-u-button{
    background-color: rgb(157, 203, 203);
    border-color: cyan;
}
#s-u-button:hover{
    background-color: deepskyblue;
    border-color: dodgerblue;
}

/* card flip */
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 400px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  .flip-card-front {
    color: black;
  }
  .flip-card-back {
    background-color: #188a20;
    border: black 2px solid;
    color: white;
    border-radius: 25px;
    margin: 10px;
    transform: rotateY(180deg);
  }
  .flip-card-back h2{
    padding-right: 10px;
  }
  #card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color:rgb(86, 86, 86);
    text-align: center;
    border-radius: 20px;
}


/* each individual card */
#card img {
    border-radius: 25px;
    padding: 5px 5px 5px 5px;
    background-color: black;
    color: white;
}
#header{
    background-image: url("/css/pictures/manas.png");
    background-repeat: no-repeat;
    background-position: top center;
    padding: 260px 0px 80px 0px;
    border-radius: 0px 0px 50px 50px;
    margin-bottom: 10px;
    background-size: contain;

}
#header a{
    margin-left: 10px;
}
.flip-card-back ul{
    padding-right: 30px;
    list-style: none;
} 